@{
    ViewData["Title"] = "Información Escuela";
}

<div class="text-center">
    <h1 class="display-4">Escuela</h1>
    <h1 class="display-4">Nombre</h1>
    <p><strong>Año fundaci&oacute;n</strong> </p>
</div>
